<header>
    <h2>Add or Edit Worker</h2>
  </header>
  <form
    [formGroup]="form"
    (ngSubmit)="onSubmit(form.value)">
    <ul>
      <li>
        <label for="code">Code</label>
        <input type="text" name="code" id="code" formControlName="code">
        <div *ngIf="form.get('code').hasError('pattern')" class="error">
          Code has invalid characters
        </div>
      </li>
      <li>
        <label for="name">Name</label>
        <input type="text" name="name" id="name" formControlName="name">
        <div *ngIf="form.get('name').hasError('pattern')" class="error">
          Name has invalid characters
        </div>
      </li>
    </ul>
    <button type="submit" [disabled]="!form.valid">Save</button>
  </form>
