<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApp1.Properties.Settings.SupplyOfProductsConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=SupplyOfProducts;Persist Security Info=True;User ID=ANG;Password=ANG"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
</configuration>